.postList{
  color: $color_font_default;
  padding-bottom: 50px;
  li{
    position: relative;
    width: 100%;
    clear: both;
    .postContent{
      position: relative;
      z-index: 9999;
      padding: 40px;
      overflow: hidden;
      box-sizing: border-box;
      h3{
        font-size: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p{
        font-size: 1.11rem;
        clear: both;
        line-height: 2rem;
        text-indent: 2em;
      }
      p.date{
        text-indent: 0;
        font-size: 1rem;
        line-height: 40px;
        float: left;
      }
      p.categories{
        clear: none;
        text-indent: 0;
        font-size: 1rem;
        float: left;
        margin-left: 20px;
        line-height: 40px;
      }
      img{
        max-width: 100%;
      }
      .linkBtn{
        text-align: center;
        display: block;
        font-size: 1.33rem;
        line-height: 50px;
        width: 300px;
        height: 50px;
        margin: auto;
        margin-top: 30px;
        transition: color,background-color $time_transition ease;
      }
    }
    .postLargeTitle{
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      font-size: 4.77rem;
      line-height: 86px;
      height: 150px;
      -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
      cursor: default;
    }
    &:after{
      content: "";
      display: block;
      clear: both;
    }
  }
  /*
  奇数（白色格子）
    */
  li:nth-child(odd){
    .postContent{
      margin-top: -170px;
      width: 45%;
      float: right;
      min-height: 300px;
      background-color: $color_content_background_light;
      box-shadow: 0 3px 10px 1.5px $color_content_shadow;
      color: $color_font_para_light;
      h3{
        color: $color_font_title_light;
        a{
          color: $color_font_title_light;
        }
      }
      p{
        color: $color_font_para_light;
      }
      p.date{
        color: $color_font_date_light;
      }
      p.categories{
        color: $color_font_date_light;
      }
      .linkBtn{
        color: $color_font_linkBtn_light;
        background-color: $color_linkBtn_background_light;
        &:hover{
          color: $color_font_linkBtn_dark;
          background-color: $color_linkBtn_background_hover;
        }
      }
    }
    .postLargeTitle{
      width: 55%;
      text-align: right;
      padding-top: 0;
      position: absolute;
      bottom: 50px;
      padding-left: 30px;
      color: $color_font_largeTitle_light;
      z-index: 2;
      p{
        margin-right: -60px;
      }
    }
  }
  /*
  偶数（黑色部分）
    */
  li:nth-child(even){
    .postContent{
      width: 55%;
      padding-left: 150px;
      padding-right: 50px;
      padding-bottom: 0;
      float: left;
      min-height: 300px;
      margin-top: -20px;
      color: $color_font_para_dark;
      h3{
        color: $color_font_title_dark;
        a{
          color: $color_font_title_dark;
        }
      }
      p{
        color: $color_font_para_dark;
      }
      p.date{
        color: $color_font_date_dark;
      }
      p.categories{
        color: $color_font_date_dark;
      }
      .linkBtn{
        color: $color_font_linkBtn_dark;
        background-color: $color_linkBtn_background_dark;
        &:hover{
          background-color: $color_linkBtn_background_hover;
        }
      }
    }
    .postLargeTitle{
      width: 35%;
      float: right;
      text-align: left;
      padding-top: 50px;
      color: $color_font_largeTitle_dark;
      p{
        margin-left: -110px;
      }
    }
  }
  li:first-child{
    margin-top: 100px;
    .postContent{
      float: none !important;
      width: 700px;
      margin: auto !important;
      padding-left: 40px !important;
      padding-right: 40px !important;
      background-color: $color_content_background_light;
      h3{
        padding-top: 100px;
        float: right;
      }
      p.date{
        float: right;
      }
      p.categories{
        float: right;
        margin-left: 0;
        margin-right: 20px;
      }
    }
    .postLargeTitle{
      display: none !important;
    }
  }
}