.nav{
	position: absolute;
	right: 5%;
	top: 50px;
	z-index: 3;
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	table{
		tr{
			text-align: center;
			td{
				height: 55px;
				width: 150px;
				border: 1px solid $color_nav_border;
				font-size: 1.44rem;
				line-height: 55px;
				opacity: 0.9;
				white-space: nowrap;
				transition: opacity,background-color $time_transition ease;
				&:hover{
					background-color: $color_nav_background_hover;
					opacity: 1;
				}
				a{
					color: $color_font_nav;
					display: block;
					@extend %fill_parent;
				}
			}
		}
	}
}