::-moz-selection {
	background: $color_selection;
	color: $color_font_selection;
}

::selection {
	background: $color_selection;
	color: $color_font_selection;
}

html,body{
	@extend %fill_parent;
	font-family: $font_family_default;
	font-size: $font_size_default;
	color: $color_font_default;
}
body{
	background-color: $color_background;
	position: relative;
	padding-top: 1px;
	margin-top: -1px;
}
body > a[title="站长统计"]{
	display: none;
}

.container{
	width: 1600px;
	min-height: 400px;
	overflow: hidden;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 50px;
	position: relative;
	z-index: 10;
	background-color: $color_container_background;
	@extend %page-animation;
}
.main{
	width: 100%;
	min-height: 400px;
	overflow: hidden;
	margin-top: -320px;
	position: relative;
}
.mainBackground{
	@extend %fill_parent;
	@include position_top_left;
	z-index: 0;
	.mainBackgroundLeft{
		width: 65%;
		height: 100%;
		float: left;
		background-color: $color_content_background_left;
	}
	.mainBackgroundRight{
		width: 35%;
		height: 100%;
		float: right;
		background-color: $color_content_background_right;
		.mainBackgroundCode{
			-webkit-transform: rotate(-$deg_header) translateY(80px);
			transform: rotate(-$deg_header) translateY(80px);
			-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
									user-select: none;
			cursor: default;
			pre{
				font-size: 0.88rem;
				font-family: $font_family_monospaced;
				color: $color_font_background_code;
			}
		}
	}
}
.mainContent{
	width: 100%;
	min-height: 500px;
	position: relative;
	z-index: 0;
	padding-top: 1px;
	margin-top: -1px;
}
