  </div>
  <div class="footer">
    <div class="link">
      <% if(theme.github_shortname){ %>
        <a href="https://github.com/<%- theme.github_shortname %>"><img src="/img/github.png" alt="github" height="32" width="32" alt=""></a>
      <% } %>
    </div>
    <div class="copyright">
      <p>Copyright © 2016, Content By <a href="https://github.com/<%- theme.github_shortname %>"><%- config.author %></a>. All Rights Reserved.
      </p>
      <p>Theme By <a href="https://github.com/IwYvI">IwYvI</a></p>
    </div>
  </div>
</div>