<div class="largeCard">
	<div class="largeCardContent">
	    <h1><%- post.title %></h1>
	    <div class="largeCardDetail">
	    	<%- post.content %>
	    </div>
  	</div>
</div>
<%- partial('comments.ejs') %>